body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../assets/images/Bmw\ M\ Stripe\ By\ Ado\ Civon.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom left;
    color: white;
    font-family: Arial, sans-serif;
}

.social-links {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(152, 10, 10, 0);
}

.social-links img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

.logo-container {
    margin-top: 11px;
}

.logo-container img {
    width: 140px;
    height: auto;
}

.logo-container p {
    font-style: italic;
    margin-top: 20px;
    font-size: 33px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.gallery figure {
    margin: 0;
    border: 3px solid #ffffff;
    width: 191px;
    transition: transform 0.3s ease;
}

.gallery figure:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery figcaption {
    padding: 15px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
}

video {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}