<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BMW M Power</title>
      <link rel="shortcut icon" href="../static/assets/images/checkengin-removebg-preview.png" size="70x70" type="image/x-icon">
      <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
      <header>
            <div class="social-links">
                  <a href="https://www.facebook.com/BMW/" target="_blank">
                        <img src="../static/assets/images/facbook1.webp" alt="Facebook">
                  </a>
                  <a href="https://www.instagram.com/bmw/" target="_blank">
                        <img src="../static/assets/images/insta1.webp" alt="BMW M">
                  </a>
            </div>

            <div class="logo-container">
                  <img src="../static/assets/images/bmwlogo.webp" alt="BMW Logo">
                  <h1>Welcome to BMW M Power</h1>
                  <p>Discover the essence of high-performance engineering with BMW's M division</p>
            </div>

            <video width="600" height="250" controls autoplay loop muted>
                  <source src="../static/assets/videos/bmwcom.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
      </header>

      <main>
            <div class="gallery">
                  <figure>
                        <a href="../templates/bmwm2.html">
                              <img src="../static/assets/images/2023-BMW-M2-Front-Three-Quarter-Wallpaper4.jpg"
                                    alt="BMW M2 2023" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M2-2025
                              <a href="https://www.bmwusa.com/vehicles/m-models/m2-coupe/overview.html">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../templates/bmwm3.html">
                              <img src="../static/assets/images/2025-bmw-m3-110-66562ddceaf59.avif" alt="BMW M3 2025"
                                    width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M3 2025
                              <a href="https://www.caranddriver.com/bmw/m3">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../templates/bmwm4.html">
                              <img src="../static/assets/images/bmw2025.avif" alt="BMW M4 2025" width="600"
                                    height="400">
                        </a>
                        <figcaption>
                              BMW M4 2025
                              <a href="https://www.caranddriver.com/bmw/m4">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../static/assets/images/cs.jpg">
                              <img src="../static/assets/images/bmwm5cs.avif" alt="BMW M5 CS" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M5 CS
                              <a href="https://www.caranddriver.com/bmw/m5-2022">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../templates/bmwm6.html">
                              <img src="../static/assets/images/111.jpg" alt="BMW M6 2013" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M6 2013
                              <a
                                    href="https://www.caranddriver.com/reviews/a15115732/2013-bmw-m6-coupe-first-drive-review/">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../templates/bmwm8.html">
                              <img src="../static/assets/images/2025-bmw-m8-competition-coupe-101-663a3bf57a59c.avif"
                                    alt="BMW M8 2025" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M8 2025
                              <a href="https://www.caranddriver.com/bmw/m8">📋</a>
                        </figcaption>
                  </figure>

                  <figure>
                        <a href="../templates/bmwm1.html">
                              <img src="../static/assets/images/420px-BMW_M1,_front_right_(Brooklyn) (1).jpg"
                                    alt="BMW M1 1978" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M1 1978
                              <a
                                    href="https://www.caranddriver.com/features/a15141546/the-m1-trilogy-the-history-of-the-m1-feature/">📋</a>
                        </figcaption>
                  </figure>
                  <figure>
                        <a href="../templates/BMWX6.html">
                              <img src="../static/assets/images/bmw-x6m-review-2024-01-front-tracking.webp"
                                    alt="BMW X6 M Competition" width="600" height="400">
                        </a>
                        <figcaption>
                              The BMW X6 M Competition
                              <a
                                    href="https://www.bmw-m.com/en/all-models/overview-m-and-m-performance/bmw-x6-m/2023/bmw-x6-m.html">📋</a>
                        </figcaption>
                  </figure>
                  <figure>
                        <a href="../templates/bmwm4evo.html">
                              <img src="../static/assets/images/Screenshot 2024-08-16 185325.png"
                                    alt="BMW M1 1978" width="600" height="400">
                        </a>
                        <figcaption>
                              BMW M4 GT3 EVO
                              <a
                                    href="https://www.bmw-m.com/en/fastlane/motorsport/race-cars/bmw-m4-gt3-evo.html">📋</a>
                        </figcaption>
                  </figure>
            </div>
      </main>
</body>

</html>